/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 50px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #eee;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

h3 {
  background-color: #cdb295;
}

div {
  box-sizing: border-box;
}

.small-demo {
  min-height: 128px;
  padding-bottom: 40px;
  display: block;
  background-color: #eee;
}

.colorNested, .colored, .coloredContainerX {
  height: 200px;
}

.taller {
  height: 300px;
}

mat-card {
  background-color: white;
}

div.coloredContainerX > div, div.colorNested > div > div {
  padding: 8px;
  box-shadow: 0 2px 5px 0 rgba(52, 47, 51, 0.63);
  opacity: 0.9;
  color: #fff;
  text-align: center;
}

div.coloredContainerX > div:nth-child(1), div.colorNested > div > div:nth-child(1), div.box1 {
  background-color: #009688;
}

div.coloredContainerX > div:nth-child(2), div.colorNested > div > div:nth-child(2), div.box2 {
  background-color: #3949ab;
}

div.coloredContainerX > div:nth-child(3), div.coloredChildren > div:nth-child(3),
div.colorNested > div > div:nth-child(3), div.box3 {
  background-color: #9c27b0;
}

div.coloredContainerX > div:nth-child(4), div.coloredChildren > div:nth-child(4),
div.colorNested > div > div:nth-child(4) {
  background-color: #b08752;
}

div.coloredContainerX > div:nth-child(5), div.coloredChildren > div:nth-child(5),
div.colorNested > div > div:nth-child(5) {
  background-color: #5ca6b0;
}

div.colored > div {
  padding: 8px;
  box-shadow: 0 2px 5px 0 rgba(52, 47, 51, 0.63);
  opacity: 0.9;
  color: #fff;
  text-align: center;
}

div.colored > div:nth-child(1), .one {
  background-color: #009688;
}

div.colored > div:nth-child(2), .two {
  background-color: #3949ab;
}

div.colored > div:nth-child(3), .three {
  background-color: #9c27b0;
}

div.colored > div:nth-child(4), .four {
  background-color: #8bc34a;
}

div.colored > div:nth-child(5), .five {
  background-color: #03a9f4;
}

div.colored > div:nth-child(6), .six {
  background-color: #c9954e;
}

div.colored > div:nth-child(7), .seven {
  background-color: #ff5722;
}

.hint {
  margin: 5px;
  font-size: 0.9em;
  color: #a3a3a3;
  margin-bottom: 0;
}

.title {
  margin: 5px;
  font-size: 0.9em;
  color: #5c5c5c;
}

.box {
  border: solid 1px gray;
}

button.mat-primary {
  margin-left: 25px;
}

.demo-content {
  background-color: ghostwhite;
}

mat-toolbar-row button {
  min-width: 150px;
}

div.colored.box.nopad > div {
  padding: 0;
}

.intro {
  margin-top: -52px;
  margin-left: 15px;
  color: #5c5c5c;
}

.blocks {
  min-width: 75px;
  min-height: 50px;
  border-radius: 3px;
}

.black {
  border-radius: 5px;
  min-width: 75px;
  min-height: 50px;
  color: white;
  background-color: #292929;
  padding: 8px;
  box-shadow: 0 2px 5px 0 rgba(52, 47, 51, 0.63);
  text-align: center;
}

.target {
  background-color: #05ffb0;
  color: #310736;
  cursor: pointer;
}

.two_h {
  min-height: 100px;
}

.two_w {
  min-width: 125px;
}

.four_h {
  min-height: 75px;
}

.four_w {
  min-width: 100px;
}

.bigger {
  padding: 0 20px;
  padding-bottom: 30px;
}

mat-toolbar .mat-toolbar-layout mat-toolbar-row {
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  min-height: 40px;
}

.demo-content .small-demo:first-child {
  margin-top: 40px;
}

mat-card-content pre {
  font-size: 12px;
  white-space: pre-wrap;
}

.fxClass-all {
  font-style: italic;
}

.fxClass-xs {
  font-size: 10px;
  color: blue !important;
}

.fxClass-sm {
  font-size: 20px;
  color: lightblue !important;
}

.fxClass-md {
  font-size: 30px;
  color: orange !important;
}

.fxClass-md2 {
  font-weight: bold;
}

.fxClass-lg {
  font-size: 40px;
  color: lightgreen !important;
}

.fxClass-lg2 {
  text-shadow: #5c5c5c;
}

.fixed {
  height: 275px;
}

.ngx-split.row-split > .ngx-split-handle .ngx-split-button {
  top: 50%;
  left: 50%;
  cursor: col-resize;
  transform: translate(-50%, -50%);
}

.ngx-split.column-split > .ngx-split-handle .ngx-split-button {
  left: 50%;
  cursor: row-resize;
  top: -3px;
  transform: translateX(-50%) rotate(270deg);
}

.ngx-split .ngx-split-area {
  overflow: auto;
}

.ngx-split .ngx-split-handle {
  position: relative;
}

.ngx-split .ngx-split-handle .ngx-split-button {
  line-height: 0;
  font-size: 32px;
  position: absolute;
  display: block;
  padding: 0;
}

.card-demo mat-card,
.card-demo mat-card-content {
  margin-bottom: 24px;
}

.card-demo mat-card-footer {
  left: 24px;
  margin-bottom: 24px;
}

.containerX {
  border: solid 1px #b6b6b6;
  box-sizing: content-box !important;
}

.hint {
  color: #a3a3a3;
  font-size: 0.9em;
  margin: 5px;
  margin-bottom: 0;
}

.forceAbove {
  margin-top: -275px;
}

.large {
  height: 200px;
}

.large div.one, .large div.two {
  color: white;
}

.card-demo .mat-card-content > :last-child,
.card-demo > :last-child {
  margin-bottom: 6px;
}
