<mat-card class="card-demo">
  <mat-card-title><a href="https://github.com/angular/flex-layout/issues/135" target="_blank">
    Issue #135</a></mat-card-title>
  <mat-card-subtitle>Layout with fxFlex="auto" not restoring max-height values properly:
  </mat-card-subtitle>
  <mat-card-content>
    <div class="containerX">
      <div fxLayout="column" class="coloredContainerX box">
        <div fxFlex="auto" fxFlex.gt-sm="70"> &lt;div fxFlex="auto" fxFlex.gt-sm="70" &gt;</div>
        <div fxFlex fxFlex.gt-sm="14.6"> &lt;div fxFlex fxFlex.gt-sm="14.6"&gt;
        </div>
        <div fxFlex="auto" fxFlex.gt-sm="15.4"> &lt;div fxFlex="auto" fxFlex.gt-sm="15.4"&gt;
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer style="width:95%">
    <media-query-status></media-query-status>
  </mat-card-footer>
</mat-card>
