
.md-whiteframe-3dp, .md-whiteframe-2dp {
  height: 75px;
}

.one, .two, .three, .four, .five, .six {
  padding: 8px;
  box-shadow: 0px 2px 5px 0 rgba(52, 47, 51, 0.63);
  opacity: 0.9;
  color: #fff;
  text-align: center;
}

