# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
dist
/tmp
/deploy
/screenshots
/bazel-out

# dependencies
node_modules
/bower_components

# IDEs
/.idea
/.vscode

# misc
.DS_Store
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.chrome
!/test/karma.conf.js

src/apps/universal-app/package-lock.json
src/apps/demo-app/package-lock.json
src/apps/hello-world/package-lock.json
src/apps/universal-app/yarn.lock
src/apps/demo-app/yarn.lock
src/apps/hello-world/yarn.lock
