language: node_js
sudo: false

node_js:
  - 'node'

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++6

branches:
  only:
  - master

env:
  global:
  - LOGS_DIR=/tmp/flex-layout-build/logs
  - SAUCE_USERNAME=angular-ci
  - SAUCE_ACCESS_KEY=9b988f434ff8-fbca-8aa4-4ae3-35442987
  - BROWSER_STACK_USERNAME=angularteam1
  - BROWSER_STACK_ACCESS_KEY=BWCd4SynLzdDcv8xtzsB
  - ARCH=linux-x64
  - BROWSER_PROVIDER_READY_FILE=/tmp/flex-layout-build/readyfile
  - BROWSER_PROVIDER_ERROR_FILE=/tmp/flex-layout-build/errorfile

  # GITHUB_TOKEN_ANGULAR
  - secure: "fq/U7VDMWO8O8SnAQkdbkoSe2X92PVqg4d044HmRYVmcf6YbO48+xeGJ8yOk0pCBwl3ISO4Q2ot0x546kxfiYBuHkZetlngZxZCtQiFT9kyId8ZKcYdXaIW9OVdw3Gh3tQyUwDucfkVhqcs52D6NZjyE2aWZ4/d1V4kWRO/LMgo="
  matrix:
    # Order: a slower build first, so that we don't occupy an idle travis worker waiting for others to complete.
    - MODE=saucelabs_required
    - MODE=browserstack_required
    - MODE=saucelabs_optional
    - MODE=browserstack_optional

matrix:
  fast_finish: true
  allow_failures:
  - env: "MODE=saucelabs_optional"
  - env: "MODE=browserstack_optional"

before_install:
  # Repo for yarn
  - sudo apt-key adv --fetch-keys http://dl.yarnpkg.com/debian/pubkey.gpg
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn
  - sleep 3
  # Updating NPM to relevant version >= 6 on Node.JS LTS
  - npm i -g npm@^3

install:
  - yarn

before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
  - mkdir -p $LOGS_DIR

script:
  - ./tools/scripts/ci/build-and-test.sh

after_success:
  - ./tools/scripts/ci/after-success.sh

cache:
  directories:
    - $HOME/.yarn-cache
    - node_modules
    - $HOME/.pub-cache

sudo: required
