
.card-demo md-card,
.card-demo md-card-content {
  margin-bottom: 24px;
}

.card-demo md-card-footer {
  left: 24px;
  margin-bottom: 24px;
}

.containerX {
  border: solid 1px #b6b6b6;
  box-sizing: content-box !important;
}

.hint {
   color: #a3a3a3;
   font-size:0.9em;
   margin:5px;
   margin-bottom:0;
}

.forceAbove {
  margin-top: -275px;
}
