.mqInfo {
  padding-left: 25px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.mqInfo > span {
  padding-left: 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.8em;
}

.mqInfo > span::before {
  content: attr(title) ': ';
}
