.hint {
  margin: 5px;
  font-size: 0.9em;
  color: #a3a3a3;
}

mat-radio-group {
  padding-top: 15px;
}

.demo_controls {
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
}

.demo_controls > div {
  padding-top: 15px;
  color: #6c6c6c;
}

.demo {
  margin-bottom: 60px;
}
