.colorNested, .containerX {
  min-height: 384px;
  background: #999999;
}
article, nav, aside, header, footer {
  margin: 4px;
  padding: 5px;
  border: 1px solid #cccc33;
  border-radius: 7pt;
}

#main > article {
  border-color: #cccc33;
  background: #dddd88;
  cursor: pointer;
}

#main > nav, #main > aside {
  border-color: #8888bb;
  background: #ccccff;
}

header, footer {
  border-color: #eebb55;
  background: #ffeebb;
}

md-card > md-card-actions:last-child {
  padding-bottom: 16px;
}

md-card > md-card-actions > button {
  margin-left: 10px;
}
